body {
    background-color: rgb(200, 200, 200, .15)
}

.chaseTitleInput {
    margin: 10px;
}

#courseTable {
    margin-top: 15px;
}

.minusRight {
    margin-right: -15px;
}

.minusLeft {
    margin-left: -15px;
}

.moduleCol {
    margin-right: 15px;
}

.modulePadding {
    padding-top: 15px;
}

.lessonContent {
    padding: 15px;
}

.moduleHeader {
    display: inline-block;
}

#editModuleButton {
    margin-top: -10px;
    margin-left: 10px;
}

.homeButton {
    width: 180px;
    margin: 10px;
}

.homeButtons {
    background-color: purple;
}

.chaseNavbar {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}