.buttonContainer {
    margin-bottom: 10px;
    align-items: center;
}

.buttonRight {
    margin-right: 10px;
}

.buttonLeft {
    margin-left: 5px;
}

.selectedModule {
    background-color: rgb(210, 231, 255, .25);
}

.defaultModule {
    background-color: white;
}