.buttonContainer {
    margin-bottom: 10px;
    align-items: center;
}

.buttonRight {
    margin-right: 10px;
}

.buttonLeft {
    margin-left: 5px;
}

.selectedModule {
    background-color: rgb(210, 231, 255, .25);
}

.defaultModule {
    background-color: white;
}

.dropdownBtn-chase {
    width: 160px;
}

.dropdown-chase {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.courseBtn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.topicBtns {
    margin: 20px;
    padding-bottom: 20px;
}

.marginBottom {
    margin-bottom: 10px;
}

.addWidgetMargin {
    margin-bottom: 10px;
}